version: '3'
services:
    nginx:
        build:
            context: ./
            dockerfile: dockerfiles/nginx/nginx.docker
        volumes:
            - './:/var/www'
        restart: always
        ports:
            - '80:80'
        links:
            - php
    php:
        build:
            context: ./
            dockerfile: dockerfiles/php/php.docker
        volumes:
            - './:/var/www'
        restart: always
        environment:
            - "TZ=America/Guatemala"
            - CONTAINER_ROLE=app
    mysql:
        build:
            context: ./
            dockerfile: dockerfiles/mysql/mysql.docker
        volumes:
            - 'mysql-data:/var/lib/mysql'
        restart: always
        environment:
            - "TZ=America/Guatemala"
            - MYSQL_ROOT_PASSWORD=secret
            - MYSQL_DATABASE=laravel
        ports:
            - '3306:3306'
volumes:
    mysql-data:
        driver: 'local'
