[mysqld]
default-storage-engine = innodb
character-set-server=utf8
collation-server=utf8_general_ci
key_buffer_size = 256M
max_allowed_packet = 300M
table_definition_cache = 600
sort_buffer_size = 2M
net_buffer_length = 8K
read_buffer_size = 2M
read_rnd_buffer_size = 2M
lower_case_table_names = 1
sql_mode=